<ul class="nav">
  <li class="nav-item">
    <a class="nav-link" routerLink="/">Home</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/rooms">Room</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/reception-hall">ReceptionHall</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/dayout">DayOut</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/gallery">Galllery</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/login">Login</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/register">Register</a>
  </li>
</ul>
